/*************************
Estilo tela Aluno - Online Class
**************************/

body {
    font-family: 'Trebuchet MS', sans-serif;
    background: #ffffff ;
}

#calendario {
    border: solid 2px black;
    position: relative;
    bottom: 136px;
    float: left;
    left: 10px;
    width: 89%;
    height: 150px;
}

.dia-1-andando {
    width: 200px;
    height: 150px;
    border: solid 0.5px black;
    float: left;
}

.dia-2 {
    width: 200px;
    height: 150px;
    border: solid 0.5px black;
    float: left;
}

.dia-3 {
    width: 200px;
    height: 150px;
    border: solid 0.5px black;
    float: left;
}

.dia-4 {
    width: 200px;
    height: 150px;
    border: solid 0.5px black;
    float: left;
}

.dia-5 {
    width: 200px;
    height: 150px;
    border: solid 0.5px black;
    float: left;
}


#opcao-01 {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    top: 120px;
    width: 100px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
}

#opcao-02 {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    bottom: -40px;
    width: 100px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
}

#opcao-03 {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    top: 110px;
    width: 100px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
}

#opcao-04 {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    bottom: -130px;
    width: 100px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
}

#opcao-05 {
    border: solid 2px black;
    width: 10%;
    height: 1000px;
    background: rgb(255, 255, 255);
    float: left;

}

#opcao-01:hover {
    background: gray;
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    top: 120px;
    width: 130px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
    transition:  all 0.2s;
}

#opcao-02:hover {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    bottom: -40px;
    width: 130px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
    transition:  all 0.2s;
}

#opcao-03:hover {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    top: 110px;
    width: 130px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
    transition:  all 0.2s;
}

#opcao-04:hover {
    border: solid 2px black;
    border-radius: 0px 16px 16px 0px;
    left: 0px;
    bottom: -130px;
    width: 130px;
    height: 30px;
    background: rgb(255, 255, 255);
    position: relative;
    transition:  all 0.2s;
}

