#navegacao {
    padding: 1.5%;
}

fieldset {
    background-color: #eeeeee;
}

legend {
    background-color: gray;
    color: white;
    padding: 1% 2%;
  }
  
input {
    margin: 5px;
}
#cria-escola {
    display: flex;
    margin: 1%;
    margin-left: 42.5%;
}
#criacao-escola {
    width: 120%;
    height: 100%;
    margin: 2%;
    text-align: center;
    font-family: cursive;
}
#criacao {
    width: 120%;
    height: auto;
    margin: 2%;
    text-align: center;
    font-family: cursive;
}


#cadastra-diretor {
    display: flex;
    margin: 10px;
    margin-left: 7.5%;

}
#endereco {
    display: flex;
    margin: 10px;
    margin-left: 36px;
}
button{
    background: white;
    width: 40%;
}
button:hover {
    background: black;
    color: white;
}

#registro-escola-diretor{
    display: flex;
    margin: 1%;
    margin-top: -31.9%;
    margin-left: 5%;
    overflow: auto; 
    width: 30%; 
    height: 250px; 
    border:solid 1px
}
table {
    width: 100%;
    height: auto;
    font-family: cursive;
}

td {
    padding: 30px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

th {
    text-transform: uppercase;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    padding: 30px;
    text-align: left;
    font-size: 80%;
    letter-spacing: 0.1em;
    background: gray;
}
.alternado {
    background-color: #efefef;
}

tr {
    background: #eeeeee;
}

tr:hover {
    background-color: #c3e6e5;
}


