#criar-escola {
    width: 350px;
    height: 450px;
    background: #343a40;
    border-radius: 30px;
    box-shadow: 3px 3px 4px black;
    float: left;
    margin: 40px;
    margin-top: 100px;
}

#cadastro-diretor {
    width: 350px;
    height: 450px;
    background: #343a40;
    border-radius: 30px;
    box-shadow: 3px 3px 4px black;
    float: left;
    margin: 40px;
    margin-top: 100px;
}

p a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    transition: 1s;
    display: block;
    padding: 0 2em;
    margin-top: 200px;
}

p a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px
}

#navegacao {
    padding: 1.5%;
}
