/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:#00bd13;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:black;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: black;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de excluir
*/
#excluir{
    margin-top: 25%;
}
#ancoraExcluir {
    color: white;
}
#ancoraExcluir:hover {
    color: #e72525;
    transition: 1s;
}

/**************************
Config. das alteracoes especificas
***************************/

/*
Config. das atividades do usuarios
*/

.materia {
    margin-left: 10%;
    margin-top: -15%;
    width: 30%; 
    cursor: pointer;
}
.arq{
    margin-left: 10%;
    margin-top: -15%;
    width: 30%; 
    cursor: pointer;
}
.descricao{
    min-width: 85%;
    min-height: 25vh;
    max-width: 85%;
    max-height: 25vh;
    padding-left: 1%;
    padding-top: 5%;
    margin-left: 10%;
    margin-top: 1%;
}
.postar-atividade{
    margin-top: 2%;
    float: right;
}

.but{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 45%;
    padding: 0.7%;
    font-size: 2.5vh;
    background-color: white;
    border-radius: 0.7vh;
    color: white;
    background-color: black;
}

.Principal{
    width: 50vh;
    float: right;

}

#btnEnviar{
    background: black;
    border-radius: 1vh;
    border: 1px solid black;
}
.adicionar{
    width: 50vh;
}
.test{
    float: left;
    margin-left: 15%;
    margin-top: 3%;
    margin-right: 20%;
}