*{
    margin: 0;
    padding: 0;
    
}
/* INICIO ID # */

#check{
    display: none;
}
#check:checked ~ .barra{
    transform: translateX(300px);

}
#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
    
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    display: block;
   position: fixed;
   
}

#conteudo {
    text-align: center;
    font-size: 25px;
    
}

#check2{
    display: none;
   
}
#check2:checked ~ .content{
    transform: translateY(530px);
}
#check2:checked ~ .content ul li #icone2 {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}
#icone2{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    margin-left: 97%;
   width: 20px;
   height: 20px;
   display: block;
   position: fixed;
  
}

#check3{
    display: none;
   
}
#check3:checked ~ .calendario{
    transform: translateY(500px);
}

#icone3{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    margin-left: 47%;
   width: 20px;
   height: 20px;
   display: block;
   position: fixed;
   
}


/* FIM ID */


/* INICIO CLASSE */

.barra {
    background-color: #630c13;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    display: block;
   position: fixed;
   border: 2px solid black;
}

.link{
    background-color: #630c13;
    padding: 20px;
    font-family: Arial;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #630c13;
    opacity: 0;
    margin-top: 200px;
}

.link:hover{
    background-color: #050542;
}


.content{
    
    max-width: 400px;
    max-height: 600px;
    min-width: 220px;
    margin-left: 84%;
    background: #646464;
    height: 450px;
    padding: 2%;
    border:1px solid;
    position: absolute;
    transition: all .2s linear;
    top: -530px;
    overflow: auto;
    font-family: Arial;
    display: block;
   position: fixed;
  
   
}
.content h2{
    text-align: center;
    color: white;
}

.calendario {
    background-color: #646464;
    height: 40%;
    width: 940px;
    position: absolute;
    transition: all .2s linear;
    margin-left: 25%;
    margin-top: -500px;
    display: block;
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
 
}
.cal {
    
    background-color:  white;
    width: 19%;
   height: 75% ;
   text-align: center;
   margin-top: 70px;
   display: inline-block;
   margin-left: 1.5%;
  
}
.cal2{
   
    background-color:  white;
    width: 19%;
   height: 75% ;
   text-align: center;
   margin-top: 70px;
   display: inline-block;
    
 }
 .cal3 {
    
    background-color:  white;
    width: 19%;
   height: 75% ;
   text-align: center;
   margin-top: 70px;
   display: inline-block;
   
 }
 .cal4 {
    
    background-color:  white;
    width: 19%;
   height: 75% ;
   text-align: center;
   margin-top: 70px;
   display: inline-block;
   
 }
 .cal5 {
    
    background-color:  white;
    width: 19%;
   height: 75% ;
   text-align: center;
   margin-top: 70px;
   display: inline-block;
   
 }
 .topo{
     background-color: #630c13;
     min-width: 100%;
     min-height: 10%;
     position: fixed;
 }
 
/* FIM CLASSE */


/* INICIO TAG */

body {
    overflow-x: hidden;
}

nav{ 
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}



input[type=text]{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
}
input[type=button]{
    border: none;
    width: 17%;
    float: right;
    height: 35px;
}
button:hover, input[type=button]:hover{
    background: #ccc;
}

button, input[type=button]{ cursor: pointer; }

button{
    float: right;
    width: 25px;
    padding: 5px;
}
ul{
    list-style-type: none;
    padding: 10px;
    height: 320px;
    background: #fff;
    overflow-y: auto;
}
li{
    height: 40px;
    margin: 15px 0 15px 0;
    border-bottom: 1px solid;


}


/* FIM TAG */