/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:#00bd13;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:black;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: black;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de excluir
*/
#excluir{
    margin-top: 25%;
}
#ancoraExcluir {
    color: white;
}
#ancoraExcluir:hover {
    color: #e72525;
    cursor: pointer;
    transition: 1s;
}

/**************************
Config. das alteracoes especificas
***************************/

/* Config. para todos os elementos */
*{
    font-family: Arial, Helvetica, sans-serif;  
}
    
.marcar {
    margin-left: 50%;
}

.cont {
    max-width: 50%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 20%;
    position: relative;
    
}
.contTipo {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-left: 35%;
    border: none;
    
    
}

.cont2 {
    max-width: 50%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 100%;
    position: relative;
    
}
.contTipo2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-left: 120%;
    border: none;
    
    
}

.descricao{
    min-width: 85%;
    min-height: 25vh;
    max-width: 85%;
    max-height: 25vh;
    padding-left: 1%;
    padding-top: 5%;
    margin-left: 10%;
    margin-top: 5vh;

}


/*
Config. da tabela de turmas 
*/
#centralizacao{
    width: 100%;
    
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 100%;
}
#selec{
    width: 70%;
    height: 80%;
    background-color: rgb(224, 219, 219);
    overflow-y: scroll;
}
tr, th, td{
    padding: 15px;
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    border-right: 1px solid #999;
    border-left: 1px solid #111;
    text-align: left;
    font-size: 100%;
    font-family: cursive;
    letter-spacing: 0.2em;
    width: 100vh;
    
}
th {
    background: #999;
    border: 1px solid #111;
}
th:hover, td:hover {
    background: cyan;
}
