/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:#00bd13;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:black;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: black;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de saida 
*/
#sair{
    margin-top: 35%;
}

/**************************
Config. das alteracoes especificas
***************************/

/*
Config. do fieldset
*/
fieldset{
    background-color: #ffffff;
    overflow-y: scroll;
}

/*
Config. das div de conteudo
*/
.div-conteudos{
    width: 65vh;
    height: 95%;
    float: left;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: black;
    border-radius: 4vh;
}

/*
Config. do cabecalho das divs
*/
.cab-divs{
    width: 100%;
    height: 10%;
}

/*
Config. das divs de conteudo parte principal 
*/
.corpo-divs{
    width: 100%;
    height: 85%;
    margin-top: 3%;
}

/*
Config. das divs internas 
*/
.div-tabela{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.div-botao{
    align-items: center;
    display: flex;
    justify-content: center;
}

/*
Config da tabela
*/
.tabela {
    font-family: cursive;
    border: none;
    width: 100%;
    max-height: 100%;
}

/*
Config. das figures das imagens do historico
*/
.foto-usuario{
    width: 10%;
    height: 100%;
    margin: 0;
}

/*
Config. das linhas 
*/
.linha{
    border-bottom: 1px solid black;
}

/*
Config. das td de historico de reunioes 
*/
.td-lista{
    padding: 2.2vh;
    font-size: 100%;
    cursor: default;
    border: none;
}

/*
Config. da div de dados da reuniao 
*/
.dados{
    margin: 0;
    align-items: center;
    justify-content: center;
}

/*
Config. das labels 
*/
.nome{
    margin: 0;
    font-size: 2.5vh;
}
.data{
    margin: 0;
    font-size: 2.5vh;
}

/*
Config. das imagens do historico 
*/
.img-usuario{
    width: 7vh;
    height: auto;
    border-radius: 100%;
}

/*
Config. dos titulos 
*/
.titulo{
    font-size: 3vh;
    margin-top: 5%;
    margin-left: 10%;
    color: white;
}

/*
Config. das imagens do cab 
*/
.img-cab{
    width: 4vh;
    height: auto;
    margin-bottom: 2%;
    margin-left: 5%;
}

/*
Config. dos fieldsets especificos
*/
#fieldset-lista-historico{
    width: 90%;
    height: 95%;
    max-height: 95%;
    min-height: 95%;
}
#fieldset-lista-programacao{
    width: 90%;
    height: 90%;
    max-height: 90%;
    min-height: 90%;
}
#fieldset-lista-relatorios{
    width: 90%;
    height: 90%;
    max-height: 90%;
    min-height: 90%;
}

/*
Config. do centro 
*/
#centro{
    width: 100%;
    height: 100%;
}

/*
Config. da div de historico
*/
#div-historico{
    display: flex;
    justify-content: center;
}

/*
Config. dos botoes de criacao
*/
#criarRelatorios{
    border-radius: 3vh;
    font-size: 110%;
    border: none;
    padding: 2%;
    text-decoration: none;
}
#criarReunioes{
    border-radius: 3vh;
    font-size: 110%;
    border: none;
    padding: 2%;
    text-decoration: none;
}




