*{
    margin: 0;
    padding: 0;
    
}
/* INICIO ID # */
#check{
    display: none;
}
#check:checked ~ .barra{
    transform: translateX(300px);

}
#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
    
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    display: block;
   position: fixed;
   
}

#conteudo {
    text-align: center;
    font-size: 25px;
    
}

#check2{
    display: none;
   
}
#check2:checked ~ .content{
    transform: translateY(530px);
}
#check2:checked ~ .content ul li #icone2 {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

/* FIM ID */



/* INICIO CLASSE */

.botao-relatorio:hover {
    background: #050542;
    border: solid #050542 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .botao-relatorio {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    width: 100px;
    font-size: 20px;
    font-weight: 100;
    background-color: #630c13;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #333333 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 45%;
    margin-top: 5%;
 }
.formulario {
    min-width: 100px;
    min-height: 25px;
    max-width: 300px;
    max-height: 25px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;

}
.barra {
    background-color: #630c13;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    display: block;
   position: fixed;
   border: 2px solid black;
}

.link{
    background-color: #630c13;
    padding: 20px;
    font-family: Arial;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #630c13;
    opacity: 0;
    margin-top: 200px;
}

.link:hover{
    background-color: #050542;
}

.arq{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    
}
.topo{
    background-color: #630c13;
    min-width: 100%;
    min-height: 10%;
    position: fixed;
}
.mensagem{
    min-width: 700px;
    min-height: 340px;
    max-width: 700px;
    max-height: 340px;
    padding-left: 1%;
    padding-top: 1%;
}
.relatorio{
   padding-top: 6%;
}
.infoRel{
    min-width: 20%;
    min-height: 15%;
    max-width: 20%;
    max-height: 15%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    
}


/* FIM CLASSE */


/* INICIO TAG */
body {
    overflow-x: hidden;
}
nav{ 
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}



input[type=text]{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
}
input[type=button]{
    border: none;
    width: 17%;
    float: right;
    height: 35px;
}
button:hover, input[type=button]:hover{
    background: #ccc;
}

button, input[type=button]{ cursor: pointer; }

button{
    float: right;
    width: 25px;
    padding: 5px;
}
ul{
    list-style-type: none;
    padding: 10px;
    height: 320px;
    background: #fff;
    overflow-y: auto;
}
li{
    height: 40px;
    margin: 15px 0 15px 0;
    border-bottom: 1px solid;

}

/* FIM TAG */