/*
Config. da font da pagina 
*/
*{
    font-family: 'Times New Roman', Times, serif;
}

.marcar:hover {
    background: #050542;
    border: solid #050542 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 .marcar {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    width: 100px;
    font-size: 20px;
    font-weight: 100;
    background-color: gray;
    border: solid #333333 1px;
    text-decoration: none;
    cursor: pointer;
 }
.arq{
    margin-left: 10%;
    margin-top: -10%;
    width: 30%; 
    cursor: pointer;
}

.mensagem{
    min-width: 85%;
    min-height: 300px;
    max-width: 85%;
    max-height: 300px;
    padding-left: 1%;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 10%;

}
.relatorio{
   padding-top: 3%;
}
.infoRel{
    max-width: 20%;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-left: 40%;
    
}



/*
Config. do corpo da pagina 
*/
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

/*
Config. das divisoes da pagina 
*/
header{
    width: 100%;
    height: 10%;
    margin: 0;
}
main{
    width: 100%;
    height: 80%;
    margin: 0;
}
footer{
    width: 100%;
    height: 10%;
    margin: 0;
}

/*
Confid. das div de espacamento
*/
#espacamento-cima{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-meio{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-baixo{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-dest{
    width: 50%;
    height: 100%;
}
#espacemento-data{
    width: 50%;
    height: 100%;
}

/*
Config. do conteudo 
*/
#idTitulo{
    margin: 2%;
}
#idTexto{
    margin: 2%;
    text-align: justify;
}
#idDestinatario{
    margin: 4%;
    float: left;
}
#idData{
    margin: 4%;
    float: right;
}