/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:lightblue;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:#0d96a8;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: #0d96a8;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de saida 
*/
#sair{
    margin-top: 25%;
}

/*
Config. da div do botão de excluir
*/
#ancoraExcluir {
    color: white;
}
#ancoraExcluir:hover {
    color: #e72525;
    transition: 1s;
}


/**************************
Config. das alteracoes especificas
***************************/

/*
Config. do form 
*/
form{
    width: 100%;
    height: 90%;
}

/*
Config. da section
*/
section{
    width: 100%;
    height: 100%;
}

/*
Config. da coluna da linha 
*/
td{
    font-size: 100%;
    margin-left: 2%;
    align-items: center;
    display: flex;
}

/*
Config. das linhas 
*/
tr{
    align-items: center;
    display: flex;
}

/*
COnfig. dos inputs 
*/
input{
    width: 100%;
    height: 100%;
}

/*
Config. dos botoes 
*/
.but{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1%;
    padding: 1%;
    font-size: 2.5vh;
    background-color: white;
    border-radius: 1vh;
}


/*
Config. dos titulos 
*/
.titulo{
    font-weight: bolder;
}

/*
Condifg. das divs de conteudo 
*/
#dados{
    border: 2px solid black;
    border-radius: 2vh;
    float: left;
    padding: 2%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    width: 100vh;
    height: 100%;
}

/*
Config. dos botoes do form 
*/
#botoes{
    margin: 0;
}

/*
Config. da selecao de imagem 
*/
#imagemInput{
   width: 0%;
   opacity: 0;
}

/*
Config. div de separacao
*/
#cab{
    height: 10%;
    width: 100%;
}

#conteudo{
    width: 100%;
    height: 90%;
}

/*
Config. de tamanho das tabelas
*/
#tab-dados{
    width: 100%;
}
#tab-login{
    width: 100%;
}
#tab-endereco{
    width: 100%;
}

/*
Config. das divs 
*/
#dados-div{
    width: 100%;
    height: 40%;
}
#login-div{
    width: 100%;
    height: 30%;
    margin-top: 2%;
}
#endereco-div{
    width: 100%;
    height: 30%;
    margin-top: 2%;
}
#botoes{
    width: 100%;
    height: 9%;
    margin-top: 2%;
}

/*
Config. de inputs classe
*/
.input{
    width: 30vh;
    margin: 1vh;
}

/*
Config. dos botoes do form
*/
#botoes{
    margin-top: 3%;
}

/*
Config da div de imagem
*/
#visul-img{
    width: 40vh;
    height: 50vh;
    background-color: #0d96a8;
    position: fixed;
    border-radius: 3%;
    display: none;
    margin-top: 2%;
}
#img{
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#img_preview{
    border-radius: 100%;
}
#botoes-img{
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*
Config. dos componentes de add de imagem 
*/
#botao-input{
    font-size: 90%;
    width: 40%;
    height: 50%;
}
#imagemInput{
    display: none;
    width: 0;
    height: 0;
}
#visualizacao{
    width: 4%;
    height: 4%;
    margin-left: 2%;
    cursor: pointer;
}
#ok{
    font-size: 90%;
    color: rgb(13, 97, 45);
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}
#idBotaoFechar{
    width: 40%;
    height: 40%;
}






