
/*
Config. Conteudo
*/
#conteudo {
    text-align: center;
    font-size: 1em;
    
}
/*
Config. Botões 
*/
#check2{
    display: none;
   
}
#check2:checked ~ .alterar{
    transform: translateY(185%);
}
#check2:checked ~ .alterar ul li #icone2 {
    opacity: 1;
    
}
#icone2{
    cursor: pointer;
    margin-top: 8%;
    z-index: 1;
    margin-left: 60%;
   display: block;
   position: fixed;
  
}
#check3{
    display: none;
   
}
#check3:checked ~ .animCad{
    transform: translateY(185%);
}
#check3:checked ~ .animCad ul li #icone3 {
    opacity: 1;
    
}
#icone3{
    cursor: pointer;
    margin-top: 8%;
    z-index: 1;
    margin-left: 63%;
   display: block;
   position: fixed;
  
}
/*
Config. Tabela
*/
#tbPessoas {
    font: 1em Verdana;
    text-align: center;
    
}

#dGridPessoas {
    width: 100%;
    margin-left: 1% ;
    
    
}
#fPessoas {
    width: 500%;
    margin-left: 30%;
    margin-top: 3%;
}
#fAltera{
    width: 500%;
    margin-left: 30%;
    margin-top: 3%;

}
#TForm{
   text-align: center;
}
/*
Config. botão
*/
#idBtn{
    margin-left: 5%;
}
/*
Config. Aviso
*/
#aviso{
    margin: 45% 25%;
    color: gray;
    position: absolute;
}
/*
Config. botões
*/
.botao{
    padding-left: 20%;
}
.botaoCad{
    padding-left: 40%;
}
/*
Config. tamanho tabela
*/
.maxTb{
    margin-top: 7%;
    width: 55%;
    max-height: 70%;
    background: white;
    position: absolute;
    transition: all .2s linear;
    overflow: auto;
    font-family: Arial;
   overflow-x: hidden;
   z-index: 0;
}

/*
Config. Animação cadastro
*/
.animCad{

    height: 65%;
     width: 30%;
     margin-left: 65%;
    background-color: lightgray;
     border:1px solid;
     transition: all .2s linear;
     top: -100%;
     font-family: Arial;
    position: fixed;
    overflow: hidden;
     padding-right: 25%;
     padding-top: 3%;
     color: black;

 }

 /*
Config. Animação alteração/delete
*/
 .alterar{

        height: 65%;
         width: 30%;
         margin-left: 65%;
         background-color: lightgray;
         border:1px solid;
         transition: all .2s linear;
         top: -100%;
         font-family: Arial;
        position: fixed;
        overflow: hidden;
         padding-right: 25%;
         padding-top: 3%;
         color: black;
 }
 /*
Config. conteudo
*/
.content h2{
    text-align: center;
    color: white;
}
/*
Config. Inputs
*/
input[type=text]{
    width: 80%;
    height: 2em;
    margin-bottom: 10px;
}
input[type=button]{
    border: none;
    width: 10%;
    float: right;
    height: 1em;
}
/*
Config. hover linhas
*/
tr:hover {
    cursor: pointer;
    background-color: lightblue;
}

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}


/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:lightblue;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:#0d96a8;
    z-index: 9999;
    position: relative;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: #0d96a8;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    z-index: 99999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    z-index: 1;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de saida 
*/
#sair{
    margin-top: 85%;
}

