*{
    margin: 0;
    padding: 0;
    
}
/* INICIO ID # */

#check{
    display: none;
}
#check:checked ~ .barra{
    transform: translateX(230%);

}
#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
    
}

#icone{
    cursor: pointer;
    padding: 1%;
    position: absolute;
    z-index: 9999;
    display: block;
   position: fixed;
   
}

#conteudo {
    text-align: center;
    font-size: 1em;
    
}

#check2{
    display: none;
   
}
#check2:checked ~ .alterar{
    transform: translateY(225%);
}
#check2:checked ~ .alterar ul li #icone2 {
    opacity: 1;
    
}
#icone2{
    cursor: pointer;
    margin-top: 8%;
    position: absolute;
    z-index: 1;
    margin-left: 60%;
   display: block;
   position: fixed;
  
}
#check3{
    display: none;
   
}
#check3:checked ~ .animCad{
    transform: translateY(225%);
}
#check3:checked ~ .animCad ul li #icone3 {
    opacity: 1;
    
}
#icone3{
    cursor: pointer;
    margin-top: 8%;
    position: absolute;
    z-index: 1;
    margin-left: 63%;
   display: block;
   position: fixed;
  
}

#tbPessoas {
    font: 1em Verdana;
    text-align: center;
    margin-top: 25%;
}

#dGridPessoas {
    width: 100%;
    margin-left: 5%;
    
}
#fPessoas {
    width: 500%;
    margin-left: 30%;
    margin-top: 3%;
}
#fAltera{
    width: 500%;
    margin-left: 30%;
    margin-top: 3%;

}
#TForm{
   text-align: center;
}

#idBtn{
    margin-left: 5%;
}
#aviso{
    margin: 50% 25%;
    color: gray;
    position: absolute;
}
/* FIM ID */


/* INICIO CLASSE */

.botao{
    padding-left: 20%;
}
.botaoCad{
    padding-left: 40%;
}
.maxTb{
    margin-top: -5%;
    width: 50%;
    max-height: 90%;
    background: white;
    position: absolute;
    transition: all .2s linear;
    overflow: auto;
    font-family: Arial;
   overflow-x: hidden;
}
.barra {
    background-color: lightgray;
    height: 100%;
    width: 15%;
    position: absolute;
    transition: all .2s linear;
    right: 120%;
    display: block;
   position: fixed;
   border: 0.1em solid black;
   border-top: none;
   border-bottom: none;
   text-decoration: none;
   z-index: 999;
}

.link{
    background-color:lightgray;
    padding: 1em;
    font-family: Arial;
    font-size: 12pt;
    transition: all .2s linear;
    color: black;
    opacity: 0;
    margin-top: 200px;
    text-decoration: none;

}

.link:hover{
    background-color: silver;
    text-decoration: none;
}

.animCad{

    height: 55%;
     width: 30%;
     margin-left: 65%;
    background-color: lightgray;
     border:1px solid;
     transition: all .2s linear;
     top: -100%;
     font-family: Arial;
    position: fixed;
    overflow: hidden;
     padding-right: 25%;
     padding-top: 3%;
     color: black;

 }
 
 .alterar{

        height: 55%;
         width: 30%;
         margin-left: 65%;
         background-color: lightgray;
         border:1px solid;
         transition: all .2s linear;
         top: -100%;
         font-family: Arial;
        position: fixed;
        overflow: hidden;
         padding-right: 25%;
         padding-top: 3%;
         color: black;
 }
.content h2{
    text-align: center;
    color: white;
}
 .topo{
     background-color: lightgray;
     min-width: 100%;
     min-height: 10%;
     position: fixed;
     color: lightgray;
     z-index: 10;
 }
 
/* FIM CLASSE */


/* INICIO TAG */

body {
    overflow: hidden;
}

nav{ 
    width: 100%;
    position: absolute;
    top: 6em;
}

nav a {
    text-decoration: none;
}

input[type=text]{
    width: 80%;
    height: 2em;
    margin-bottom: 10px;
}
input[type=button]{
    border: none;
    width: 10%;
    float: right;
    height: 1em;
}

tr:hover {
    cursor: pointer;
    background-color: lightblue;
}




/* FIM TAG */