/*-------------------------------
Estilo tela Login - Online Class
*-------------------------------/

/*
Imagem de fundo 
*/
body {
    background: #3f0a7c url(/frontend/imagens/fundo.png) no-repeat;
}

/*
Logo do Online Class 
*/
#logo{
    margin-top: 3%;
    width: 160px;
    height: auto;
    margin-left: 7%;
}

/*
Caixa de login 
*/
#caixa-login {
    width: 350px;
    height: auto;
    background-color: #ffffff4d;
    border-radius: 7%;
    text-align: center;
}

/*
Logo de Usuário 
*/
#usuario-login{
    padding: 6%;
    width: 150px;
    height: auto;
}

/*
Caixas para escrever [login] [senha]
*/
.inputs {
    font-size: 20px;
    margin-bottom: 4%;
    margin-left: 2%;
    background-color: #fff;
    border: none;
    background-repeat: no-repeat;
    width: 75%;
    height: auto;
    border-radius: 14px 14px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 12%;
    padding-right: 3%;
}

/*
Imagem [e-mail] [senha]
*/
#input-email {
    background-image: url(/frontend/imagens/icone-usuario.png);
    background-position: left;
}
#input-senha {
    background-image: url(/frontend/imagens/icone-cadeado.png);
    background-position: left;
}

/*
Botão de login
*/
#input-login {
    color: rgb(255, 255, 255);
    background-color: #df884e;
    border: 2px solid #df884e;
    border-radius: 14px 12px;
    font-size: 120%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 4%;
    width: 110px;
}

/*
Botão de esquecimento da senha 
*/
#botao-esqueceu{
    font-size: 18px;
    color: #630c13;
    padding-bottom: 6%;
}

