/*-------------------------------
Estilo tela Login - Online Class
-------------------------------*/

/*
Resetando config.
*/
* {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

/*
Corpo do programa / HTML
*/
html, body, form {
    height: 100%;
    width: auto;
}

/*
Corpo do programa 
*/
body {
    background: #3f0a7c url(/frontend/imagens/fundo.png) no-repeat;
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    margin: 0px;
}

/*
Cabeçalho 
*/
header {
    height: 25%;
    width: auto;
}

/*
Parte principal 
*/
main {
    height: 55%;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*
Caixas para escrever [login] [senha]
*/
.inputs {
    background-color: #fff;
    background-repeat: no-repeat;
    width: 30vh;
    height: 5vh;
    font-size: 2.3vh;
    border: none;
    border-radius: 2vh;
    padding: 0.5% 3% 0.5% 12%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
}

/*
Logo do Online Class 
*/
#logo {
    margin-top: 3%;
    width: 25vh;
    height: auto;
    margin-left: 7%;
}

/*
Caixa de login 
*/
#caixa-login {
    width: 50vh;
    height: auto;
    background-color: #ffffff4d;
    border-radius: 7%;
    text-align: center; 
}

/*
Logo de Usuário 
*/
#usuario-login {
    padding: 7%;
    width: 20vh;
    height: auto;
}

/*
Imagem [e-mail] [senha]
*/
#input-email {
    background-image: url(/frontend/imagens/icone-usuario.png);
    background-position-x: 5%;
    background-position-y: center;
    background-size: 2.5vh;
}

#input-senha {
    background-image: url(/frontend/imagens/icone-cadeado.png);
    background-position-x: 5%;
    background-position-y: center;
    background-size: 2.5vh;
}

/*
Botão de login
*/
#input-login {
    color: rgb(255, 255, 255);
    background-color: #df884e;
    border: 2px solid #df884e;
    font-size: 2.3vh;
    border-radius: 2vh;
    width: 17vh;
    height: 5vh;
    margin-top: 4%;
    margin-bottom: 5%;
}

/*
Botão de esquecimento da senha 
*/
#botao-esqueceu{
    cursor: pointer;
    color: #630c13;
    margin-bottom: 6%;
}

#texto-esqueceu{
    font-size: 2.5vh;
}