/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:yellow;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}


/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:rgb(87, 16, 16);
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: rgb(87, 16, 16);
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de saida 
*/
#sair{
    margin-top: 35%;
}

/**************************
Config. das alteracoes especificas
***************************/

form{
    width: 100%;
    height: 90%;
}
/*
Config. da coluna da linha 
*/
td{
    font-size: 100%;
    margin-left: 2%;
}

/*
Config. das linhas 
*/
#dados tr{
    align-items: center;
    display: flex;
}

/*
Config. dos botoes 
*/
.but{
    margin: 1%;
    border-radius: 2vh;
    padding: 1.2%;
    font-size: 2.5vh;
}
.but:hover{
    border: 2px solid black;
}

/*
Config. dos titulos 
*/
.titulo{
    font-weight: bolder;
}

/*
Config. dos input
*/
.input{
    margin: 1vh;
}

/*
Condifg. das divs de conteudo 
*/
#dados,#turmaMataria{
    border: 2px solid black;
    border-radius: 2vh;
    float: left;
    padding: 2%;
    margin-top: 3%;
    margin-left: 13%;
    margin-right: 13%;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
}

/*
Config. dos botoes do form 
*/
#botoes{
    margin: 0;
}

/*
Config. da selecao de imagem 
*/
#imagemInput{
   width: 0%;
   opacity: 0;
}

/*
Config. div de separacao
*/
#cab{
    height: 10%;
    width: 100%;
}

#conteudo{
    width: 100%;
    height: 90%;
}

/*
Config. de tamanho das tabelas
*/
#tab-dados{
    width: 90%;
}
#tab-login{
    width: 90%;
}
#tab-endereco{
    width: 90%;
}

/*
Config. das divs 
*/
#dados-div{
    width: 100%;
    height: 40%;
}
#login-div{
    width: 100%;
    height: 30%;
}
#endereco-div{
    width: 100%;
    height: 30%;
}
#botoes{
    width: 100%;
    height: 9%;
}

/*
Config. de inputs classe
.input{
    width: 50%;
}
*/

/*
Config. dos botoes do form
*/
#botoes{
    margin-top: 3%;
}


/*
Config. coordenadores existentes
*/

#coordExist {
    float: right;
    text-align: left;
    margin: 1%;
    margin-right: 17vh;
}

table {
    margin: 4%;
}

fieldset {
    width: 25vh;
    height: 100%;
    float: right;
}

li {
    list-style: none;
}
.multiselect {
    width:300px;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 45vh;
    font-weight: bold;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.radioMenu{
    position: absolute;
    z-index: 1;
    background-color: white;
    display: block;
    width: 45vh;
    height: 100px;
    overflow: auto;
}
.radioMenu {
    display: block;
    border: 1px #dadada solid;
}

.radioMenu label {
    display: block;
}

.radioMenu label:hover {
    background-color: #1e90ff;
}

.materias{
    border: 2px solid black;
    width: 100%;
    max-height: 300px;
    overflow:auto;
}
