/*
Config. da font da pagina 
*/
*{
    font-family: 'Times New Roman', Times, serif;
}

/*
Config. do corpo da pagina 
*/
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

/*
Config. das divisoes da pagina 
*/
header{
    width: 100%;
    height: 10%;
    margin: 0;
}
main{
    width: 100%;
    height: 80%;
    margin: 0;
}
footer{
    width: 100%;
    height: 10%;
    margin: 0;
}

/*
Confid. das div de espacamento
*/
#espacamento-cima{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-meio{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-baixo{
    width: 100%;
    height: 100%;
    margin: 0;
}
#espacamento-dest{
    width: 50%;
    height: 100%;
}
#espacemento-data{
    width: 50%;
    height: 100%;
}

/*
Config. do conteudo 
*/
#idTitulo{
    margin: 2%;
}
#idTexto{
    margin: 2%;
    text-align: justify;
}
#idDestinatario{
    margin: 4%;
    float: left;
}
#idData{
    margin: 4%;
    float: right;
}