/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color:yellow;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:rgb(87, 16, 16);
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: #571010;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
    z-index: 9999;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de excluir
*/
#ancoraExcluir {
    color: white;
}
#ancoraExcluir:hover {
    color: #e72525;
    cursor: pointer;
    transition: 1s;
}

/**************************
Config. das alteracoes especificas
***************************/

/*
Config. do main
*/
main{
    height: 80%;
}


/*
Config. da tabela de turmas 
*/



#divPrincial{
    height: 100%;
    justify-content: center;
    align-items: center;
}
#selec{
    width: 70%;
    height: 80%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 2px solid
}
th, td {
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    border-right: 1px solid #999;
    border-left: 1px solid #111;
    font-family: cursive;
}
th{
    
    border-top: 1px solid #111;
}
td.alunoExib {
    width: 100vh;
}
tr:hover {
    background-color: #c3e6e5;
}

#tbTurmas{
    background-color: white;
}

#popUp {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    height: 85%;
    margin-left: -30%;
    margin-top: -100px;
    background-color: white;
    border: 2px solid;
    z-index: 1000;
    
}
#tabela{
    height: 80%;
    overflow: auto;
}
#btnConcluido{
    float: right;
}

#divDesativar{
    background-color:rgba(0, 0, 0, 0.383);
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
}

.table .thead-red th {
    color: #fff;
    background-color: #571010;
    border-color: #571010;
  }