#cadastro {
    width: 350px;
    height: 450px;
    background: #630c13;
    border-radius: 30px;
    box-shadow: 3px 3px 4px black;
    float: left;
    margin: 40px;
    margin-top: 100px;
}

p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    transition: 1s;
    display: block;
    padding: 0 2em;
    margin-top: 200px;
}

p a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px
}

#barraPrincipal{
    border: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 9%;
    position: fixed;
    background-color: #630c13;
}

.textoBarra{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: default;
}

img {
    height: 10x;
    width: 2%;
    padding-left: 5px;
    border: none;
    background-repeat: no-repeat;
    background-position: 5px;
}

#botao-menu{
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
}

#menuOpcoes{
    position: fixed;
    border: solid 2px white;
    width: 15%;
    margin-top: -10px;
    height: 100%;
    background: #630c13;
    margin-left: -10px;
    display: none;
}

