/**************************
Config. do menu padrao
***************************/

/*
Config. para todos os elementos 
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

/*
Config. padrao da barra 
*/
body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

/*
Config. do header
*/
header{
    height: 10%;
    width: 100%;
}

/*
Config. do main 
*/
main{
    width: 100%;
    height: 90%;
}

/*
Config. das ancoras 
*/
a{
   text-decoration: none;
   margin-left: 3%;
   color: white;
}

/* 
link que ainda não foi visitado 
*/
a:link {
    color: white;
}

/* 
link que foi visitado 
*/
a:visited {
     color: white;
}

/*
Config figures opcoes e img opcoes
*/
.figure-opcoes{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.figure-opcoes a:hover{
    list-style: none;
    text-decoration: none;
    color: #1100ff;
}
.img-opcoes{
    width: 9%;
    height: auto;
    margin-left: 7%;
    margin-right: 3%;
    list-style: none;
    text-decoration: none;
}

/*
Config. das opcoes do menu 
*/
.opcoes{
    width: 100%;
    height: 8%;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/*
Config. de nav - cabecalho
*/
#cabecalho{
    height: 100%;
    width: 100%;
    background-color:#00a2ff;
}

/*
Config. das div do cabecalho
*/
#lado-esquerdo{
    float: left;
    width: 30%;
    height: 100%;
}
#lado-direito{
    float: right;
    width: 70%;
    height: 100%;
}

/*
Config. da div que mostra o menu 
*/
#mostrar{
    width: 1%;
    height: 100%;
    position: absolute;
}

/*
Config. do menu 
*/
#menu{
    width: 42vh;
    height: 100%;
    background-color: #00a2ff;
    border-right: 1px solid;
    border-color: white;
    position: absolute;
    display: none;
    position: fixed;
}

/*
Config. do titulo de diretor 
*/
#menu-titulo{
    cursor: default;
    align-items: center;
    display: flex;
    margin-left: 0;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 17%;
    color: white;
}

/*
Config. div do menu
*/
#botao-menu{
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 7%;
}

/*
Config. do botao do menu 
*/
#figure-menu{
    width: 8vh;
    margin: 0;
    height: auto;
}
#idImgMenu{
    width: 55%;
    height: auto;
}

/*
Config. da div da barra no lado direito
*/
#lado-direito{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
}

/*
Config. img-perfil
*/
#figure-perfil{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    margin-right: 2%;
    float: right;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4%;
}
#idFotoPerfil{
    width: 8vh;
    height: auto;
}

/*
Config. Dados do usuario 
*/
#idNomeUsuario{
    color: white;
    float: left;
    margin: 0;
    font-size: 2.5vh;
    margin-right: 4%;
}
#idImgCadastro{
    width: 10%;
    height: 10%;
}

/*
Config. da div do botão de saida 
*/
#sair{
    margin-top: 20%;
}

/**************************
Config. das alteracoes especificas
***************************/

section#matematica {
    margin: 100px;
}

table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	font-size: 1em;
}

th, td {
    padding: 50px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

.alternado {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}
