body {
/*	background: #3f0a7c url(../imagens/fundo.png) no-repeat;
*/	
	background-color: #dddddd;
	margin-left: 55px;
    font-family: 62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
}


#dados-pessoais{
	margin-top: 200px;
}

/********************************
Estilo Barra Principal - Superior
********************************/
#barraPrincipal{
    border: none;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 10%;
    position: fixed;
	background-color: #13a2ce;
	text-align: right;
}

#barraPrincipal img {
	width: 102px;
}

.nome {
	position: absolute;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: default;
	text-align: center;
	margin-top: 30px;
    margin-left: 910px;
}



/********************
Estilo Menu lateal
********************/
* {
    margin: 0;
    padding: 0;
}
#menu-lateral {
	padding:0 50px 0 0;
	transition: all 0.5s ease;
	font-size:1.2em;
	background:#5a3c7c00;
    background-image: linear-gradient(135deg, #4c00c500, #57309e00);
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
}
#menu-lateral:before {
	z-index:1000;
	font-size:4em;
	color:white;
	position:fixed;
	left:4px;
	top:45px;
}
#menu-lateral:hover:before, #lateral:focus:before {
	left:-500px
}
#menu-lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	transform: translate(320px, 0);
	background:#39393aa1;
    background-image: linear-gradient(135deg, #7b738671, #332e3d81);
	padding-right:0;
}	

#menu-lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
}
#menu-lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:1.6em;
	font-style:normal;
	padding-bottom:0.2em;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
	border-bottom: 4px solid rgb(155,155,155);
}
#menu {
	font-style:italic;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
}
#menu li {padding:0; margin:0;}

#menu li a {
	font-size:1.2em;
	color:#ffffff;
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	transition: all 1.2s ease;
}
	
#menu li a:hover {
	color:rgb(255,255,255);
	background-color:#ffffff33;
	transition: all 0.5s ease;
}