* {
	margin: 0;
	padding: 0;
}




.divisao2 {
	border: 1px solid black;
	width: 40%;
	height: 40vh;
	margin: 1%;
	margin-right: 10%;
	margin-left: 10%;
	float: left
}

.divisao3 {
	border: 1px solid black;
	width: 15%;
	height: 40vh;
	margin: 1%;
	margin-left: 10%;
	float: right;
}
.perfil-imagem {
	width: 20.5vh;
	margin: 1%;
	float: right;
}
