* {
	margin: 0;
	padding: 0;
}


/********************
Estilo Menu lateal
********************/
#menu-lateral {
	padding:0 3% 0 0;
	transition: all 0.5s ease;
	font-size:1.2em;
	background:#3c5d7c00;
    background-image: linear-gradient(135deg, #006cc500, #30639e00);
	height:100%;
	overflow:hidden;
	width:370px; 
	position:fixed;
	top:0;
	left:-320px;
	}
#menu-lateral:before {
	z-index:1000;
	font-size:4em;
	color:white;
	position:fixed;
	left:2%;
	top:5%;
	}
#menu-lateral:hover:before, #lateral:focus:before {
	left:-500px
	}
#menu-lateral:hover, #lateral:focus,  #lateral:active  {
	overflow-y:scroll;
	transform: translate(85%, 0);
	background:#007bff;
    background-image: linear-gradient(135deg, #737d8671, #2e393d81);
	padding-right:0;
}	

#menu-lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
	}
#menu-lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-size:160%;
	font-style:normal;
	padding-bottom:2%;
	margin: 2% 0 2% 8%;
	color:#ffffff;
	border-bottom: 4px solid #9b9b9b;
	}
#menu {
	font-style:italic;
	position:relative;
	font-size:100%;
	margin:1% 0 1% -1%;
	padding:0;
	}
#menu li {padding:0; margin:0;}

#menu li a {
	font-size:1.2em;
	color:#ffffff;
	text-decoration: none;
	padding: 8% 0 8% 10%;
	display: block;
	transition: all 1.2s ease;
	}
	
#menu li a:hover {
	color:#ffffff;
	background-color:#ffffff33;
	transition: all 0.5s ease;
	}

.divisao1 {
	border: 1px solid black;
	margin: 20px;
	margin-top: 30px;
	width: 500px;
	height: 900px;
	float: left;
}

.divisao2 {
	border: 1px solid black;
	margin: 30px;
	margin-left: 1030px;
	width: 300px;
	height: 700px;
	float: left
}

.divisao3 {
	border: 1px solid black;
	width: 900px;
	height: 700px;
	float: left;
	margin: 20px;
	margin-top: -730px;
	margin-left: 60px;
}

.perfil-imagem {
	margin-left: 90px;
}